1. 
a) Generate a list of numbers from 30 to 60 with interval 5, using range. for example, 30, 35, 40, …… 60. [0.5 point]
b) Order you list in reversed order. [0.5 point]
c) Then insert 65 to the beginning of your new list. [0.5 point]
The final resulting list will look like 65, 60, …, 30.

In [21]:
mylist=list(range(30,65,5)) #list of numbers from 30 to 60 with intervals of 5
print(mylist)

[30, 35, 40, 45, 50, 55, 60]

In [22]:
print(mylist[::-1]) #get the whole list backwards

[60, 55, 50, 45, 40, 35, 30]

In [25]:
mylist=[60, 55, 50, 45, 40, 35, 30] #making sure the list is now reverse (new list)
mylist.insert(0,'65') #to insert item at position zero
print(mylist)

['65', 60, 55, 50, 45, 40, 35, 30]

2. 
a) Create an empty list. Append integers from 0 to 20 to this list; [0.5 point]
b) delete item 0; [0.5 point]
c) return the length, maximal and minimal values of the newest list; [0.5 point]
d) sum up all the items, e.g: 0+1+2+3+…+20 [0.5 point]

In [34]:
listtwo=list() #empty list
print(listtwo)

[]

In [35]:
for i in range(0,21):
  listtwo.append(i) #adding 1-20 to the empty list
else: 
  print(listtwo)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
listtwo.pop(0) #to remove item 0
print(listtwo)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [37]:
print(len(listtwo)) #length of the list

20

In [38]:
print(max(listtwo)) #maximum value
print(min(listtwo)) #minimum value
print(sum(listtwo)) #summing up all values

20
1
210

3. 
a) Create a weather dictionary. Using for loop, print out all the keys and values in the same line. 
b) Then add a new pair (“snowy”, “ski”) to your dictionary. [0.5 point]

In [49]:
weather={"sunny":"football","cloudy":"golf","rainy":"netflix"} #lists and values printed in the same line
weather

{'sunny': 'football', 'cloudy': 'golf', 'rainy': 'netflix'}

In [50]:
list(weather.keys()) #only keys

['sunny', 'cloudy', 'rainy']

In [51]:
list(weather.values()) #only values

['football', 'golf', 'netflix']

In [52]:
weather["snow"]="ski" #adding new pair to the dictionary
weather

{'sunny': 'football', 'cloudy': 'golf', 'rainy': 'netflix', 'snow': 'ski'}