1. Using While Loop. As long as n is less than 10, print out n. However, when n equals to 5, stop the loop.

In [3]:
n=0

while n<10:
    if n==5:
        break
    print(n)
    n+=1

0
1
2
3
4

2. Using while loop. Initialize n=0. While n is < 5, print out n. Otherwise, print out $n “is not less than 5”.

In [6]:
n=0

while n<5:
    print(n)
    n+=1

print(str(n)+" is not less than 5")

0
1
2
3
4
5 is not less than 5

3. Create your favorite fruit list, using For Loop, print out all the fruits in your list. However, when one fruit name equals to “apple”, stop the loop.

In [15]:
fruits=["banana","orange","papaya","apple"]

for fruit in fruits:
    if fruit=="apple":
        print("is apple really a fruit?")
        break
    else:
        print("I like "+fruit)

I like banana
I like orange
I like papaya
is apple really a fruit?

4. Add all the integers from 1 to 30, print out the sum. Using while loop.

In [52]:
n=1
summary=0

while n<=30:
    summary+=n
    n+=1

print("The summary is:", summary)

The summary is: 465

5. Using if…elif…else statement, to help grade students’ score. You can define grade yourself, for example, grade = 55

In [21]:
score=74  #alter this depending on the grade and the code will still work 

if score>=90:
    grade="A"
elif score>=80:
    grade="B"
elif score>=70:
    grade="C"
elif score>=60:
    grade="D"
else:
    grade="F"

print("The grade for the score", score, "is a", grade)

The grade for the score 74 is a C

6. Define a dictionary, composed with students name and their grade.
marks = {‘Andy’:88, ‘Amy’:66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [22]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

a) Using for loop, print out all the students name and their grade.

In [24]:
for name, grade in marks.items():
    print(name + ": " + str(grade))

Andy: 88
Amy: 66
James: 90
Jules: 55
Arthur: 77

b) Of this dictionary, calculate all the student’s mean grade, maximal grade, and minimal grade.

In [54]:
max_grade=max(marks.values())
print("Maximal grade:",max_grade) #calculating max value

min_grade=min(marks.values())
print("Minimal grade:",min_grade) #calculating min value

Maximal grade: 90
Minimal grade: 55

In [61]:
mean_grade=sum(marks.values()) / len(marks)
print("Mean grade:",mean_grade) #calculating mean value

Mean grade: 75.2

c) Using for loop or while loop, for all the keys in the dictionary, print out key. However, if ‘J’ appears, stop the loop.

In [38]:
for key in marks:
    print(key)
    if key[0]=='J':
        break

Andy
Amy
James

d) Using for loop or while loop, for all the keys in the dictionary, print out key. However, if ‘J’ appears, skip this key, and continue the loop.

In [40]:
for key in marks:
    if key[0]=='J':
        continue
    print(key)

Andy
Amy
Arthur